*全体*/






/*ここからヘッダー*/
header{
  width:960px;
  height:60px;
  background-color:white;
  display:flex;
  justify-content:space-between; 
  align-items:center;
  margin:0 auto;
}



header img{
  width:120px;
  height:40px;
  line-height: center;
}
  



header li{
  margin-left: 30px;
  
  
}

header ul{
  display: flex;                   /* liタグ（メニュー）を横並びに配置します */
  padding: 10px 0;
}

header li a {
  color: #24292e;
  text-decoration:none;
}
header li a:hover {
  opacity: 0.7;                    /* メニューにマウスをのせた際に少し透過します。 */
}



/*ここからメイン*/


.main img{
  width:1920px;
  height:600px;
  margin-bottom:20px;
  object-fit:cover;
  width:100%;

}

@media screen and (max-width: 600px) {
  /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
  .main img {
    height: calc(100vh - 60px);  /* 画像の高さをブラウザ下いっぱいまで広げます */
    
  }


}



/*ここからabout*/
.about-wrapper{
  width:960px;
  height:216px;
  margin:0 auto;
  
}

.about-wrapper h2{
  width:100.88px;
  border-bottom:solid 1px black;
  margin:0 auto;
  text-align:center;
}

.about-container{
  height:107px;
  width:730.5px;
  margin:0 auto;
  display:flex;
  justify-content: center; 
  align-items: center;
}


.about-wrapper img{
    width:180px;
    height:180px;
    border-radius:100px;
    margin-right:30px;
    object-fit:cover;
}

.about-text{
  text-align: left;
  margin-top:20px;


}

@media screen and (max-width: 600px) {
  /*-------------------------------------------
  About
  -------------------------------------------*/
 .about-wrapper{
   margin-top:10px;
 }
 
  .about-container {
    flex-direction: column;  /* 画像とテキストを縦並びに配置します */
  }
  .about img {
    margin-right: 0;
  }
}



/*ここからBicycle*/
.traveling-wrapper{
  width:960px;
  height:334px;
  margin:0 auto;
  text-align:center;
}

.traveling-wrapper h2{
  border-bottom:solid 1px black;
  width:250px;
  margin-bottom:10px;
  text-align: center;
  margin-left:370px;
}

.contents{
  display:flex;
  justify-content: space-between; 
  
}

.content{
  width:32%;
}


.content img{
 width:233.75px;
 height:154.86px;
 object-fit:cover;
}



.content h3{
  align-items:center;
}

.content p{
  align-items:center;
}


@media screen and (max-width: 600px) {
  /*-------------------------------------------
  Bicycle
  -------------------------------------------*/
  .contents{
    flex-direction: column;  /* 画像を縦並びに配置します */
  }
  .content {
    width: 100%;             /* 画像を横幅いっぱいまで表示します */
    margin-bottom: 30px;
  }
}

/*ここからフッター*/
footer{
  color:black;
  text-align:center;
  padding:10px 0;
}
